<nav id="mobile-menu" class="menu-container clearfix slide-open">

  <div class="person">
    <div class="button-wrap">
      <div class='action-button' (click)='toggleMobileMenu()'>
        <i class="fas fa-bars" *ngIf="isShowHeader"></i>
        <i class="fas fa-arrow-up" *ngIf="!isShowHeader"></i>
      </div>
    </div>
    <div class="person-avatar">
      <img src="assets/img/avatar.jpg" alt="" class="avatar">
      <div class="person-content">
        <div class="person-title">Jianguo Li</div>
        <div class="person-subtitle">Full-stack Web developer</div>
      </div>
    </div>
  </div>
  <ul class='menu-section'>
    <li class="menu-item" *ngFor="let menuItem of menu">
      <menu-item [menuItem]='menuItem'></menu-item>
    </li>
  </ul>
  <div class="social">
    <div class="social-title">Get in touch</div>
    <div class="social-content">
      <div class="social-icons">
        <a href="mailto:ljghot@hotmail.com" class="button button-icon" title="mail: ljghot@hotmail.com">
          <i class="fas fa-envelope-square fa-lg"></i>
        </a>

        <a href="https://www.linkedin.com/in/rainymaple/" class="button button-icon" title="linkedin: rainymaplesoft">
          <i class="fab fa-linkedin fa-lg"></i>
        </a>

        <a href="https://github.com/rainymaplesoft?tab=repositories" class="button button-icon"
          title="github: rainymaplesoft">
          <i class="fab fa-github-square fa-lg"></i>
        </a>
      </div>
    </div>
  </div>
</nav>
