<nav id="mobile-menu" class="menu-container clearfix slide-open">

  <div class="person">
    <div class="button-wrap">
      <div class='action-button' [matMenuTriggerFor]="animals">
        <!-- (click)='toggleMobileMenu()' -->
        <i class="fas fa-bars"></i>
        <!-- <i class="fas fa-arrow-up" *ngIf="!isShowHeader"></i> -->
      </div>
    </div>
    <div class="person-avatar">
      <img src="assets/img/avatar.jpg" alt="" class="avatar">
      <div class="person-content">
        <div class="person-title">Jianguo Li</div>
        <div class="person-subtitle">Senior Web developer</div>
      </div>
    </div>
  </div>
  <ul class='menu-section'>
    <li class="menu-item" *ngFor="let menuItem of menu">
      <menu-item [menuItem]='menuItem'></menu-item>
    </li>
  </ul>
  <div class="social">
    <div class="social-title">Get in touch</div>
    <div class="social-content">
      <div class="social-icons">
        <a href="mailto:ljghot@hotmail.com" class="button button-icon" title="mail: ljghot@hotmail.com">
          <i class="fas fa-envelope-square fa-lg"></i>
        </a>

        <a href="https://www.linkedin.com/in/rainymaple/" class="button button-icon" title="linkedin: rainymaplesoft">
          <i class="fab fa-linkedin fa-lg"></i>
        </a>

        <a href="https://github.com/rainymaplesoft?tab=repositories" class="button button-icon"
          title="github: rainymaplesoft">
          <i class="fab fa-github-square fa-lg"></i>
        </a>
      </div>
    </div>
  </div>
</nav>

<mat-menu #animals="matMenu">
  <button mat-menu-item (click)='nav("/about")'>
    <mat-icon>person</mat-icon><span>About Me</span>
  </button>
  <button mat-menu-item (click)='nav("/home")'>
    <mat-icon>web</mat-icon><span>My Work Experience</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="mySkills">
    <mat-icon>equalizer</mat-icon><span>My Skill Set</span>
  </button>
  <button mat-menu-item>
    <a [href]='cvLink' target="blank">
      <mat-icon>description</mat-icon><span>My CV</span>
    </a>
  </button>
  <button mat-menu-item (click)='nav("/photo")'>
    <mat-icon>camera</mat-icon><span>Some Photos</span>
  </button>
</mat-menu>

<mat-menu #mySkills="matMenu">
  <button mat-menu-item (click)='nav("/skills/front")'>
    <mat-icon>devices</mat-icon><span>Front-End</span>
  </button>
  <button mat-menu-item (click)='nav("/skills/back")'>
    <mat-icon>code</mat-icon><span>Back-End</span>
  </button>
  <button mat-menu-item (click)='nav("/skills/data")'>
    <mat-icon>dns</mat-icon><span>Database</span>
  </button>
</mat-menu>
