<div class="site-main-inner">
  <div class="main-title">Skills</div>
  <div class="main-section" [@fadeInAnimation]>
    <div class="container flow-text">
      <section id="skills" class="section scrollspy">
        <div class="container">
          <div class="card">
            <div class="card-content">
              <h4 class="brown-text light">HTML/CSS</h4>
              <div class="row text-center">
                <div class="col s4 m2"><img alt="" src="../../../assets/img/html5.png" class="responsive-img">HTML5
                </div>
                <div class="col s4 m2"><img alt="" src="../../../assets/img/css3.png" class="responsive-img">CSS3</div>
                <div class="col s4 m2"><img alt="" src="../../../assets/img/sass.png" class="responsive-img">SASS</div>
                <div class="col s4 m2"><img alt="" src="../../../assets/img/bootstrap.png"
                    class="responsive-img">Bootstrap
                </div>
                <div class="col s4 m2"><img alt="" src="../../../assets/img/responsive.png"
                    class="responsive-img">Responsive
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <h4 class="brown-text light">Framework/Testing</h4>
              <div class="row text-center">
                <div class="col s4 m2"><img alt="" src="../../../assets/img/jasmine.png" class="responsive-img">Jasmine
                </div>
                <div class="col s4 m2"><img alt="" src="../../../assets/img/karma.png" class="responsive-img">Karma
                </div>
                <div class="col s4 m2"><img alt="" src="../../../assets/img/protractor.png"
                    class="responsive-img">Protractor
                </div>
                <div class="col s4 m2"><img alt="" src="../../../assets/img/ionic.png" class="responsive-img">Ionic
                </div>
                <div class="col s4 m2"><img alt="" src="../../../assets/img/nativescript.png"
                    class="responsive-img">NativeScript
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <h4 class="brown-text light">Javascript</h4>
              <div class="row text-center">
                <div class="col s4 m2"><img alt="" src="../../../assets/img/javascript.png"
                    class="responsive-img">Javascript
                </div>
                <div class="col s4 m2"><img alt="" src="../../../assets/img/jquery.png" class="responsive-img">jQuery
                </div>
                <div class="col s4 m2"><img alt="" src="../../../assets/img/angular.png" class="responsive-img">Angular
                </div>
                <div class="col s4 m2"><img alt="" src="../../../assets/img/nodejs.png" class="responsive-img">Node
                </div>
                <div class="col s4 m2"><img alt="" src="../../../assets/img/typescript.png"
                    class="responsive-img">TypeScript
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <h4 class="brown-text light">Back-End</h4>
              <div class="row text-center">
                <div class="col s4 m2"><img alt="" src="../../../assets/img/netcore.png" class="responsive-img">.Net
                  Core</div>
                <div class="col s4 m2"><img alt="" src="../../../assets/img/csharp.png" class="responsive-img">C#
                </div>
                <div class="col s4 m2"><img alt="" src="../../../assets/img/aspcore.png" class="responsive-img">ASP.NET
                  Core</div>
                <div class="col s4 m2"><img alt="" src="../../../assets/img/efcore.png" class="responsive-img">EF Core
                </div>
                <div class="col s4 m2"><img alt="" src="../../../assets/img/graphql.png" class="responsive-img">GraphQL
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <h4 class="brown-text light">Build Tools</h4>
              <div class="row text-center">
                <div class="col s4 m2"><img alt="" src="../../../assets/img/webpack.png" class="responsive-img">Webpack
                </div>
                <div class="col s4 m2"><img alt="" src="../../../assets/img/gulp.png" class="responsive-img">Gulp</div>
                <div class="col s4 m2"><img alt="" src="../../../assets/img/grunt.png" class="responsive-img">Grunt
                </div>
                <div class="col s4 m2"><img alt="" src="../../../assets/img/bower.png" class="responsive-img">Bower
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <h4 class="brown-text light">Database</h4>
              <div class="row text-center">
                <div class="col s4 m2"><img alt="" src="../../../assets/img/sqlserver.png" class="responsive-img">SQL
                  Server
                </div>
                <div class="col s4 m2"><img alt="" src="../../../assets/img/Tsql.png" class="responsive-img">T-SQL
                </div>
                <div class="col s4 m2"><img alt="" src="../../../assets/img/firebase.png"
                    class="responsive-img">Firebase
                </div>
                <div class="col s4 m2"><img alt="" src="../../../assets/img/mongodb.png" class="responsive-img">MongoDB
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <h4 class="brown-text light">Other</h4>
              <div class="row text-center">
                <div class="col s4 m2"><img alt="" src="../../../assets/img/android.png" class="responsive-img">Android
                </div>
                <div class="col s4 m2"><img alt="" src="../../../assets/img/vue.png" class="responsive-img">VueJs
                </div>
                <div class="col s4 m2"><img alt="" src="../../../assets/img/github.png" class="responsive-img">Github
                </div>
                <div class="col s4 m2"><img alt="" src="../../../assets/img/jira.png" class="responsive-img">JIRA
                </div>
                <div class="col s4 m2"><img alt="" src="../../../assets/img/photoshop.png"
                    class="responsive-img">Photoshop
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
