<div class="main-content">
  <div class="main-title">My Skill Set</div>
  <div class="main-section" [@fadeInAnimation]>
    <div class="container flow-text">
      <section id="skills" class="section scrollspy">
        <div class="container">
          <div id="front"></div>
          <div class="card">
            <div class="card-content">
              <h4 class="brown-text light">HTML/CSS</h4>
              <div class="row text-center">
                <div class="col s4 m2"><img alt="" [src]="getPic('html5')" class="responsive-img">HTML5
                </div>
                <div class="col s4 m2"><img alt="" [src]="getPic('css3')" class="responsive-img">CSS3</div>
                <div class="col s4 m2"><img alt="" [src]="getPic('sass')" class="responsive-img">SASS</div>
                <div class="col s4 m2"><img alt="" [src]="getPic('bootstrap')" class="responsive-img">Bootstrap
                </div>
                <div class="col s4 m2"><img alt="" [src]="getPic('responsive')" class="responsive-img">Responsive
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <h4 class="brown-text light">Javascript</h4>
              <div class="row text-center">
                <div class="col s4 m2"><img alt="" [src]="getPic('angular')" class="responsive-img">Angular
                </div>
                <div class="col s4 m2"><img alt="" [src]="getPic('react')" class="responsive-img">ReactJS
                </div>
                <div class="col s4 m2"><img alt="" [src]="getPic('typescript')" class="responsive-img">TypeScript
                </div>
                <div class="col s4 m2"><img alt="" [src]="getPic('javascript')" class="responsive-img">Javascript
                </div>
                <div class="col s4 m2"><img alt="" [src]="getPic('jquery')" class="responsive-img">jQuery
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <h4 class="brown-text light">Testing/Mobile</h4>
              <div class="row text-center">
                <div class="col s4 m2"><img alt="" [src]="getPic('jasmine')" class="responsive-img">Jasmine
                </div>
                <div class="col s4 m2"><img alt="" [src]="getPic('karma')" class="responsive-img">Karma
                </div>
                <div class="col s4 m2"><img alt="" [src]="getPic('protractor')" class="responsive-img">Protractor
                </div>
                <div class="col s4 m2"><img alt="" [src]="getPic('ionic')" class="responsive-img">Ionic
                </div>
                <div class="col s4 m2"><img alt="" [src]="getPic('nativescript')" class="responsive-img">NativeScript
                </div>
              </div>
            </div>
          </div>
          <div id="back"></div>
          <div class="card">
            <div class="card-content">
              <h4 class="brown-text light">Back-End</h4>
              <div class="row text-center">
                <div class="col s4 m2"><img alt="" [src]="getPic('netcore')" class="responsive-img">.Net
                  Core</div>
                <div class="col s4 m2"><img alt="" [src]="getPic('csharp')" class="responsive-img">C#
                </div>
                <div class="col s4 m2"><img alt="" [src]="getPic('aspcore')" class="responsive-img">ASP.NET
                  Core</div>
                <div class="col s4 m2"><img alt="" [src]="getPic('efcore')" class="responsive-img">EF Core
                </div>
                <div class="col s4 m2"><img alt="" [src]="getPic('graphql')" class="responsive-img">GraphQL
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <h4 class="brown-text light">Build Tools</h4>
              <div class="row text-center">
                <div class="col s4 m2"><img alt="" [src]="getPic('webpack')" class="responsive-img">Webpack
                </div>
                <div class="col s4 m2"><img alt="" [src]="getPic('gulp')" class="responsive-img">Gulp</div>
                <div class="col s4 m2"><img alt="" [src]="getPic('grunt')" class="responsive-img">Grunt
                </div>
                <div class="col s4 m2"><img alt="" [src]="getPic('bower')" class="responsive-img">Bower
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <h4 class="brown-text light">Database</h4>
              <div class="row text-center">
                <div class="col s4 m2"><img alt="" [src]="getPic('sqlserver')" class="responsive-img">SQL
                  Server
                </div>
                <div class="col s4 m2"><img alt="" [src]="getPic('Tsql')" class="responsive-img">T-SQL
                </div>
                <div class="col s4 m2"><img alt="" [src]="getPic('firebase')" class="responsive-img">Firebase
                </div>
                <div class="col s4 m2"><img alt="" [src]="getPic('mongodb')" class="responsive-img">MongoDB
                </div>
              </div>
            </div>
          </div>
          <div id="data"></div>
          <div id="other"></div>
          <div class="card">
            <div class="card-content">
              <h4 class="brown-text light">Other</h4>
              <div class="row text-center">
                <div class="col s4 m2"><img alt="" [src]="getPic('android')" class="responsive-img">Android
                </div>
                <div class="col s4 m2"><img alt="" [src]="getPic('vue')" class="responsive-img">VueJs
                </div>
                <div class="col s4 m2"><img alt="" [src]="getPic('github')" class="responsive-img">Github
                </div>
                <div class="col s4 m2"><img alt="" [src]="getPic('jira')" class="responsive-img">JIRA
                </div>
                <div class="col s4 m2"><img alt="" [src]="getPic('photoshop')" class="responsive-img">Photoshop
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
