<div class="main-content">
  <!-- <div class="main-header">
    <master-header></master-header>
  </div> -->
  <!---->
  <mobile-menu class='side-menu' [ngClass]="{isShowHeader: !isShowSideBar}" [@menuFalldownAnimate]='mobileMenuState'
    [isShowHeader]='!isShowSideBar' [menu]='mobileMenu'>
  </mobile-menu>
  <!-- [@menuToggleAnimate]='mobileMenuState' -->
  <div class="site-main" [ngClass]="{isShowSideBar: isShowSideBar,isNotShowSideBar:!isShowSideBar}">
    <!-- <div>this is app</div>
    <button (click)='toggleMobileMenu()'>toggle menu</button> -->
    <router-outlet></router-outlet>
  </div>
</div>
