<div class="site-main-inner">
  <div class="main-title">Some Photos</div>
  <div class="main-section" [@fadeInAnimation]>
    <div class="container flow-text">
      <div class="photo">
        <img [src]="getPic('c_pcg01')">
        <div class="pic-desc">Party @Public_Consulting_Group</div>
      </div>
    </div>
    <div class="container flow-text">
      <div class="photo">
        <img [src]="getPic('c_abilis01')">
        <div class="pic-desc">Lunch with Financial Team in Project CORIS @Abilis_Solution</div>
      </div>
    </div>
    <div class="container flow-text">
      <div class="photo">
        <img [src]="getPic('c_tek01')">
        <div class="pic-desc">Project American Express @TEK_Systems</div>
      </div>
    </div>
    <div class="container flow-text">
      <div class="photo">
        <img [src]="getPic('c_tek02')">
        <div class="pic-desc">Project Higher Ed @TEK_Systems</div>
      </div>
    </div>
    <div class="container flow-text">
      <div class="photo">
        <img [src]="getPic('c_tek03')">
        <div class="pic-desc">.NET Practic @TEK_Systems</div>
      </div>
    </div>
  </div>
</div>
