$maxWidthImage: 800px;
.container {
  display: flex;
  max-width: 1100px;
  justify-content: center;
  .photo {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    img {
      max-width: $maxWidthImage;
      height: auto;
      width: 100%;
    }
    .pic-desc {
      max-width: $maxWidthImage;
      text-align: center;
      padding: 3px;
      color: teal;
      font-size: 20px;
      @media screen and (max-width: 460px) {
        font-size: 16px;
      }
    }
  }
}
