/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font: 16px/1.6 Roboto, Helvetica, sans-serif;
  font-weight: 300;
}
.main-content {
  position: relative;
  width: 100%;
  @media (max-width: 960px) {
    overflow-y: auto;
    height: 100%;
    position: fixed;
    top: 174px;
    height: calc(100% - 174px);
  }
  @media (max-width: 460px) {
    top: 98px;
    height: calc(100% - 98px);
  }
}

.main-title {
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 54px;
  line-height: 1;
  font-size: 30px;
  font-weight: 100;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  padding: 12px;
  padding-left: 50px;
  background-color: teal;
  color: white;
  &::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 54px;
    width: 0;
    border: 8px solid;
    border-top-color: #03635a;
    border-right-color: #03635a;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  @media (max-width: 960px) {
    text-align: center;
    position: fixed;
    padding: 12px;
    width: 100%;
    top: 120px;
    z-index: 10;
  }
  @media (max-width: 460px) {
    font-size: 15px;
    height: 36px;
    top: 62px;
    &::after {
      top: 36px;
    }
  }
}
$side_menu_width: 320px;
$main_section_margin_left: 16px;
.main-section {
  position: fixed;
  top: 54px;
  width: calc(100% - 320px - 16px);
  height: calc(100% - 54px);
  overflow-y: auto;
  padding: 10px;
  background-color: #fff;
  color: #555;
  background-color: #cfdcda;
  margin-left: $main_section_margin_left;
  background: url(./assets/img/bg-square.png) repeat;
  @media (max-width: 960px) {
    width: calc(100% - 16px);
    top: 174px;
    height: calc(100% - 174px);
  }
  @media (max-width: 460px) {
    top: 98px;
    height: calc(100% - 98px);
  }
}
